@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');


* {
  font-family: "Cardo", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
