{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1 class="mt-5">About Us</h1>
    <p class="lead">This is the about page template using Bootstrap.</p>
    <p>{{index .StringMap "test"}}</p>
    </div>
  </div>
</div>
{{end}}
