{{template "admin" .}}
{{define "page-title"}}Admin Reservations{{end}}

{{define "content"}}
{{$reservation:= index .Data "reservation"}}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reservation Details</h4>
                <p>
                    <strong>Arrivals:</strong> {{HumanDate $reservation.StartDate}} <br>
                    <strong>Departures:</strong> {{HumanDate $reservation.EndDate}} <br>
                    <strong>Room Number:</strong> {{$reservation.RoomID}} <br>
                    <strong>Room Name:</strong> {{$reservation.Room.RoomName}} <br>
                </p>
                <form action="/admin/reservations/all/{{$reservation.ID}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <input type="hidden" name="room_id" value="{{$reservation.RoomID}}"/>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" value="{{$reservation.FirstName}}"> 
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="last_name" value="{{$reservation.LastName}}">   
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{$reservation.Email}}" >
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{$reservation.Phone}}" >
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="text" class="form-control" id="startDate" name="start_date" value="{{HumanDate $reservation.StartDate}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="text" class="form-control" id="endDate" name="end_date" value="{{HumanDate $reservation.EndDate}}" readonly>
                    </div>
                    <button type="submit" class="btn btn-success">Update Reservation</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/admin/reservations/all'">Back to Reservations</button>
                    <button type="button" class="btn btn-info" onClick="processRes({{$reservation.ID}})">Mark as Processed</button>
                </form>
            </div>
        </div>
    </div>
</div>  

{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    let attention = Prompt();

    function notify(msg, msgType) {
        notie.alert({
            type: msgType,
            text: msg,
        })
    }

    function notifyModal(title, text, icon, confirmationButtonText) {
        Swal.fire({
            title: title,
            html: text,
            icon: icon,
            confirmButtonText: confirmationButtonText
        })
    }

    {{with .Error}}
      notify("{{.}}", "error");
    {{end}}

    {{with .Flash}}
      notify("{{.}}", "success");
    {{end}}

    {{with .Warning}}
      notify("{{.}}", "warning");
    {{end}}
</script>

<script>
{{$src:=index .StringMap "source"}}
function processRes(id){
    attention.custom({
        title: 'Processing reservation',
        msg:'Are you sure to process the reservation?',
        icon:'warning',
        callback:function(result){
            if(result!==false){
                window.location.href="/admin/process-reservation/{{$src}}/"+id
              }
          }
    })
}
</script>
{{end}}
