{{template "base" .}}

{{define "content"}}

{{$rooms:=index .Data "rooms"}}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h3>Choose Your Room</h3>
            {{range $rooms}}
                <div>
                    <h3><a href="/choose-room/{{.ID}}">{{.RoomName}}</a></h3>
                </div>
            {{end}}
    
        </div>
    </div>

</div>
{{end}}
